a.active {
  background-color: none;
  border: 2px solid #23be0a;
  padding: 6px;
  border-radius: 5px;
  color: #23be0a;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100%+2px);
  height: 5px;
  background: #354bdb;
}
.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}
